Q1. How do you comment code in Python? What are the different types of comments?

Answer:
1. Single Line Comment:
 We can use '#' before each statement inside a code cell in order to make it a comment.
2. Multiple Line Comment:
If we want multiple line comments we can write it as paragraph as well. After writing it as paragraph simply select all and press "Ctrl + /" so the entire lines will be entitled with # in the beginning of each line making it multiple line comment.

3. We can use triple quote (''' paragraph ''') or (""" paragraph """)to make it a comment.

In [1]:
#This is single line comment

In [2]:
# this is
# multiple line comment,
# select all and press
# "Ctrl + / " to get # at once in every line

In [3]:
''' this is
a multiple line
comments and we can write it in
triple quote '''

' this is\na multiple line\ncomments and we can write it in\ntriple quote '

Q2. What are variables in Python? How do you declare and assign values to variables?

Answer:

Variables are used to store or assign a value of any datatype in the python

Variables in Python have some naming rules, such as:

 They must start with a letter or an underscore _
 They cannot start with a number
 They can only contain alphanumeric characters and underscores (A-Z, a-z, 0-9, and _)
 They are case-sensitive, meaning x and X are different variables

In [5]:
#Example :
Integer=67                                            #integer datatype
f=65.5                                                #float datatype
comp=5+6j                                             #complex no
s1='python'                                           # string datatype
list_1=[1,2,53.5,'python','list',100]                 #list datatype
_tuple=(1,2,53.5,'python','list',100)                 #tuple datatype

Q3. How do you convert one data type to another in Python?

Ans:- We can use typecasting method to convert one datatype to another datatype in python. Below are some of the example of typecasting datatypes

In [8]:
# 1. Converting list datatype into tuple datatype
l1=[1,2,3,4,5,6]
type(l1)

list

In [9]:
l1=tuple(l1)
l1

(1, 2, 3, 4, 5, 6)

In [10]:
type(l1)  #List datatype is converted into tuple datatype

tuple

In [12]:
# 2. Converting string into int datatype
s='42'
s

'42'

In [13]:
type(s)     # s is now string datatype

str

In [14]:
s=int(s)

In [15]:
s

42

In [16]:
type(s)     #s is now int datatype

int

In [17]:
# 3. converting float into int datatype
f = 3.14
i = int(f) # i is now an integer with the value 3

In [18]:
type(f)

float

In [19]:
type(i)

int

Q4. How do you write and execute a Python script from the command line

Answer:
  First write our Python code in a text editor and save it as a .py file.
  For example, hello.py
  Run our script using the python command followed by the name of our script.
  For example, python hello.py. We must have Python installed and added to our system path.
  We can also use python3 if our Python version is 3.x

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3]

In [20]:
my_list = [1, 2, 3, 4, 5]

In [21]:
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Answer:
  A complex number in Python is written as x + yj, where x and y are real numbers and j is the imaginary unit.
  A complex number in mathematics is a number that can be written as a + b * i, where a and b are real numbers and i is the imaginary unit that satisfies i * i = -1.
  Complex numbers are useful for representing many phenomena in physics, engineering, and other fields.

In [23]:
#For example, to create a complex number with real part 5 and imaginary part 8
z=5+8j
z

(5+8j)

In [24]:
type(z)

complex

In [26]:
#To check real number
z.real

5.0

In [27]:
#To check imaginary number
z.imag

8.0

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [29]:
age=25
age

25

In [30]:
type(age)

int

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [31]:
price=9.99
print(price)
# As the assigned value is decimal number it is float datatype

9.99

In [32]:
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [33]:
name='Ansuman Das'
print(name)

Ansuman Das

Q10. Given the string "Hello, World!", extract the substring "World"

In [36]:
s1= "Hello, World!"
s1[7:12]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [37]:
is_student=True

In [38]:
type(is_student)

bool