Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
#String
S="This is a string"
S

'This is a string'

In [2]:
#List
L=[1,2,3,50,"PwSkills",6.587,True]
L

[1, 2, 3, 50, 'PwSkills', 6.587, True]

In [3]:
# Float
f={65.2,45.2,90.8}
f

{45.2, 65.2, 90.8}

In [4]:
#Tuple
t=(32,66,50.5,'Data Science')
t

(32, 66, 50.5, 'Data Science')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [6]:
var1 =' '
type(var1)

str

In [8]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [9]:
var3 = [ 'DS','ML','Python']
type(var3)

list

In [10]:
var4=1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /     This is division operator
(ii) %    This is modulus operator
(iii) //  This is floor division operator
(iv) **   This is exponential/power operator

In [39]:
#  /     This is division operator
5/4

1.25

In [40]:
# % This is modulus operator which gives remainder
10%3

1

In [41]:
#  // This is floor division operator which gives only integer and ignores decimal points
10//4

2

In [43]:
#  ** This is exponential/power operator
5**3   #means 3 times 5 i.e. 5*5*5

125

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [11]:
L=[10,20,40,50.50,'Data Science','PW SKILLS',True,80,90,100]

In [14]:
for i in L:
  print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'int'>
<class 'int'>
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [33]:
A = int(input("Enter value for A: "))
B = int(input("Enter value for B: "))

Num1=A
Num2=B
count=0

while A%B==0:
  A=A/B
  count=count+1

if count==0:
  print(f"{Num1} is not divisible by {Num2}")
else:
  print(f"{Num1} is {count} times divisible by {Num2}")

Enter value for A: 16
Enter value for B: 2
16 is 4 times divisible by 2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [24]:
L=list(range(1,26))
L

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [28]:
for i in L:
  if i%3==0:
    print(i,' is divisible by 3')
  else:
    print(i,' is not divisible by 3')

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Answer:
Mutables datatypes are the datatype in which elements can be modified or manipulated like replace, update, delete.
Immutables datatypes are the datatype in which elements cannot be modified or manipulated

In [34]:
#Mutable Datatypes
L1=[10,20,30,40,50,60,70,80,90,100]
L1

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [35]:
#Updating 5th index with data
L1[4]='Data'
L1

[10, 20, 30, 40, 'Data', 60, 70, 80, 90, 100]

In [36]:
#Immutable Datas
S1='PW SKILLS'
S1

'PW SKILLS'

In [37]:
S1[4]

'K'

In [38]:
S1[4]='S'   #Since strings are immutable we cannot modify or replace the following index

TypeError: ignored